auto-save-list/.saves-*
*~
ac-comphist.dat
saveplace
swank
elpa
var
bookmarks
custom.el
projectile.cache
projectile-bookmarks.eld
abbrev_defs
ido.last
recentf
smex-items
desktop
eshell
.lsp-session-*
.extension
.dap-breakpoints
.cache
init-local.el
url/
straight/modified
.org-id-locations
custom.el
persp-save
flycheck_init.el
elpy/
/forge-database.sqlite
/transient/
/company-statistics-cache.el
/places
/org-roam.db
/eln-cache/
.DS_Store
/projects
/history
