[submodule "solarized"]
  path = solarized
  url = git://github.com/altercation/solarized.git
[submodule "egg"]
  path = egg
  url = https://github.com/bogolisk/egg.git
[submodule "tuareg-mode"]
  path = tuareg-mode
  url = https://github.com/afeinberg/tuareg-mode.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "perspective-el"]
	path = perspective-el
	url = https://github.com/nex3/perspective-el.git
