auto-save-list/.saves-*
*~
ac-comphist.dat
saveplace
swank
elpa
var
bookmarks
custom.el
projectile.cache
projectile-bookmarks.eld
abbrev_defs
ido.last
recentf
smex-items
desktop
eshell
.lsp-session-*
.extension
.dap-breakpoints
